*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
}

aside{
    background: black;
    width: 179px;
    height: 100vh;
    color: #FFF;
}

header{
    background: grey;
    width: 100%;
    height: 113px;
    color: #FFF;
}

.logo{
    display: flex;
    padding: 28px 0 67px 23px;
}

.logo img{
    width: 38px;
    height: 38px;
}

.logo p{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

aside li{
    list-style-type: none;
    padding-bottom: 21px;
    color: white;
}

aside li:nth-child(4){
    padding-top: 137px;
    color: white;
}

aside li a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

aside li a:hover{
    text-decoration: underline;
}

header h1{
    font-size: 32px;
    font-weight: 300;
    padding: 37px;
}

.text, form, table{
    position: absolute;
    top: 150px;
    left: 220px;
}

.pvtr{
    margin-left: 20px ;
}

table{
    border-collapse: collapse;
}

table th{
    font-size: 16px;
    padding: 15px;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    font-weight: 300;
}

table td{
    font-size: 14px;
    padding: 22px;
}

table tr:nth-child(1){
    background-color: #F2F2F2;
    border: 1px solid #DCDCDC;
}

.save {
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF06A;
    width: 133px;
    height: 42px;
    margin: 63px 490px 21px 41px;
}

h3{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 38px;
}

fieldset{
    border: 1px solid #000;
    width: 691px;
    height: 550px;
    background: #F2F2F2;
}

input, select{
    width: 289px;
    height: 42px;
    margin-left: 38px;
    padding: 26px 0;
}

.rent-blocks {
  margin: 34px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rent-blocks .rent-block {
  display: flex;
  width: 100%;
  height: 272px;
  border-radius: 20px;
  border: 3px solid #624C4C;
  margin-bottom: 53px;
}
.rent-blocks .rent-block img {
  width: 345px;
  height: 219px;
  margin: auto 30px;
}
.rent-blocks .rent-block .rent-block__text {
  position: relative;
  margin-top: 23.5px;
  margin-left: 20px;
  width: 797px;
}
.rent-blocks .rent-block .rent-block__text p {
  font-size: 20px;
}
.rent-blocks .rent-block .rent-block__text .rent-block__btn {
  position: absolute;
  right: 0;
  margin-top: 34px;
}
.rent-blocks .rent-block .rent-block__text .rent-block__btn button {
  width: 260px;
  height: 63px;
  font-size: 32px;
  border-radius: 20px;
}
.rent-blocks .rent-block .rent-block__text .rent-block__btn button:nth-child(1) {
  color: #624C4C;
  border: 3px solid #624C4C;
  background: #FFF;
}
.rent-blocks .rent-block .rent-block__text .rent-block__btn button:nth-child(2) {
  color: #FFF;
  background: #624C4C;
}

.news-blocks {
  margin: 34px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-blocks .news-block {
  margin-top: 47px;
  width: 100%;
  height: 424px;
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  position: relative;
}
.news-blocks .news-block img {
  width: 100%;
  height: 424px;
  opacity: 80%;
}
.news-blocks .news-block .news-block-items p {
  position: absolute;
  top: 35px;
  left: 43px;
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 40px;
  color: #FFF;
}
.news-blocks .news-block .news-block-items button {
  position: absolute;
  right: 47px;
  bottom: 35px;
  width: 304.945px;
  height: 51px;
  border-radius: 20px;
  border: 3px solid #624C4C;
  font-size: 32px;
  background: #FFF;
  color: #624C4C;
}

.partners-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 58px auto 85px;
}
.partners-blocks .partners-block {
  width: 387px;
  height: 259px;
  margin-bottom: 15px;
}

.wrap{
    position: absolute;
    top: 100px;
    left: 250px;
}
